@import url("@app/globals.css");

.container {
  padding: 50px;
}

.box {
  width: 125px;
  height: 125px;
  display: inline-block;
}

button {
  vertical-align: top;
  background-color: var(--first-complementary-color);
}
