@import url("@app/globals.css");

table {
  border-collapse: collapse;
  display: table-cell;
}

th, td {
  box-sizing: border-box;
  padding: 8px;
  border-bottom: 1px solid;
  text-align: left;
}

tr:nth-child(even) {
  background-color: var(--secondary-color);
}

tr:hover:not(.ignore-hover-behavior) {
  background-color: cyan;
}
