:root {
	--main-color: #EFBC9B;
	--secondary-color: #FBF3D5;
	--first-complementary-color: #D6DAC8;
	--second-complementary-color: #9CAFAA;
}

html {
	background-color: var(--secondary-color);
	font-family: 'Gill Sans', sans-serif;
}

body {
	margin: 0;
}

.round {
  border-radius: 50%;
}