@import url("@app/globals.css");

.logo-container-home-page img {
  width: 30%;
  height: 30%;
  margin: auto;
  padding: 0.7rem;
  filter: invert(99%) sepia(17%) saturate(4652%) hue-rotate(297deg) brightness(98%) contrast(91%);
}

.logo-container-home-page {
  text-align: center;
}

.main-text {
  color: var(--main-color);
  padding: 1rem;
  font-size: 80px;
  text-align: center;
}

.fade-in {
  animation: fadeIn 5s;
}

.fade-in img {
  animation-delay: 0s;
}

.fade-in.main-text {
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
