@import url("@app/globals.css");

img {
  width: 30%;
  height: 30%;
  margin: auto;
  padding: 0.7rem;
  filter: invert(99%) sepia(17%) saturate(4652%) hue-rotate(297deg) brightness(98%) contrast(91%);
}

.image-container {
  text-align: center;
}

.main-text {
  color: var(--main-color);
  padding: 1rem;
  font-size: 80px;
  text-align: center;
}
